POSTGRES_USER=postgres
POSTGRES_PASSWORD=YourPasswordPleaseChange
POSTGRES_DB=irrigation_db

PORT=8080
DATABASE_URL="postgresql://postgres:YourPasswordPleaseChange@postgres:5432/irrigation_db?schema=public"
